/* global */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

/* lobbylist */
#lobby-list {
  margin-top: 20px;
}

#create-lobby-form {
  margin-top: 20px;
}

.player-name {
  margin-right: 50px;
}
.player-control {
  margin-left: 12px;
}

/* game */
#gameObject {
  position: relative;
}
#playerHand {
  width: 100%;
  position: fixed;
  bottom: 160px;
  overflow: visible;
  padding: 0;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.card {
  position: absolute;
  width: 100px;
  height: 150px;
  margin: 1em;
  transition: margin-top 0.2s ease-in-out;
  margin-top: 0px;
}
.card:hover {
  margin-top: -30px;
}


/*
.player-hand {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid red;
}

.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid green;
}

.card {
  margin-right: calc(80vw / (var(--card-count)) - (var(--card-width) + 5px ));
  scale: 20%;
  border: 1px solid blue;
}

*/