body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

#lobby-list {
  margin-top: 20px;
}

#create-lobby-form {
  margin-top: 20px;
}

.hidden {
  display: none;
  /* visibility: hidden; */
}

.player-name {
  margin-right: 50px; /* Adjust as needed */
}

.player-control {
  margin-left: 12px; /* Adjust as needed */
}